<ul>
<div id="items">
    <% @products.each do |product| %>
        <li style="display: inline-block;" class="m-2">
        <%= link_to contact_to_buy_path(product), style:"text-decoration: none;", class:"btn" do %>
            <div class="card bg-info p-1" style="width: 15rem;height:23rem;">
                <img src="<%= product.image %>" class="card-img-top zoom" style="background-color: white;border-radius: 10px;">
                <div class="card-body">
                    <h5 class="text-white" style="font-size: 100%"><%= product.title %></h5>
                    <div>
                        <p class="card-text price"><strong>R$<%= product.price %></strong></p>
                    </div>
                </div>
            </div>
            <% end %>
        </li>
    <% end %>
</ul>
</div>

<style>
#items {
    margin-left: 80px;
}
.price {
    font-size: 160%;
}
.zoom {
    padding: 10px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</sty
</style>